.table-container {
  padding: 20px;
  background-color: var(--secondary-bg);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 10px var(--shadow-color);
  margin: 30px 30px;
  width: 100%;
}

.table-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--primary-text);
  text-shadow: var(--text-shadow);
}

.modern-table {
  width: 100%;
  border-collapse: collapse;
}

.modern-table th,
.modern-table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid var(--border-color);
}

.modern-table th {
  background: var(--main-color) !important;
  color: var(--primary-text);
  font-weight: 600;
  text-transform: uppercase;
}

.modern-table tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

.modern-table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.use-btn,
.btn-add {
  background-color: var(--main-color);
  border: none;
  padding: 10px 15px;
  color: var(--primary-text);
  font-size: 16px;
  font-weight: bold;
  border-radius: var(--border-radius);
  transition: background-color var(--transition-speed);
}
.use-btn:hover {
  background-color: var(--hover-main-color);
}

.actions {
  display: flex;
  gap: 10px;
}

.edit-link {
  color: var(--highlight-color);
  text-decoration: none;
  font-weight: bold;
  transition: color var(--transition-speed);
}

.edit-link:hover {
  color: var(--hover-highlight-color);
}

.delete-btn {
  color: var(--crimson-red);
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: color var(--transition-speed);
}

.delete-btn:hover {
  color: var(--neon-red);
  text-decoration: underline;
}

.loading,
.no-users {
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-text);
}
