/* team-section.css */
.team__section {
  position: relative;
  padding: 60px 0;
  overflow: hidden;
}

.team__gradient {
  position: absolute;
  width: 500px;
  height: 500px;
  opacity: 0.5;
}

.team__gradient--1 {
  top: -5%;
  left: 0;
}

.team__gradient--2 {
  top: 20%;
  right: -3%;
}

.team__card {
  border-radius: 12px;
  background: var(--primary-bg);
  box-shadow: var(--box-shadow);

  transition: all 0.3s ease;
}

.team__card:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow);
}
.team__img {
  width: 140px;
  height: 140px;
  margin-inline: auto;
  border-radius: 50%;
  overflow: hidden;
}
.team__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.team__content {
  padding: 20px;
  text-align: center;
}

.team__title {
  font-size: 1.2rem;
  font-family: cursive;
  margin-bottom: 5px;
  color: var(--main-color);
}

.team__desig {
  display: block;
  font-size: 0.9rem;
  color: #94a3b8;
  margin-bottom: 10px;
}

.team__social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team__social a {
  color: var(--primary-text);
  font-size: 1rem;
  transition: color 0.3s;
}

.team__social a:hover {
  color: var(--main-color);
}

.team__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--secondary-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 0.2rem;
  text-align: center;
}

.team__card:hover .team__hover {
  opacity: 1;
}

.team__text {
  font-size: 0.95rem;
  color: var(--secondary-text);
  margin-bottom: 15px;
}

@media (max-width: 1199px) {
  .team__card {
    margin-bottom: 30px;
  }
}
