.category-menu-container {
  margin: 2rem 0;
  padding: 1rem 0;
  border-bottom: 2px solid #eee;
}

.category-list {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.category-item {
  list-style: none;
  position: relative;
}

.category-button {
  padding: 0.8rem 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 600;
  color: #666;
  transition: all 0.3s ease;
  gap: 0.8rem;
  position: relative;
}

.category-button.active {
  color: var(--main-color);
}

.category-button.active::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 3px;
  background: var(--main-color);
  border-radius: 2px;
}

.category-button:hover {
  color: var(--main-color);
  transform: translateY(-2px);
}

.category-icon {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .category-list {
    flex-wrap: wrap;
    gap: 0.8rem;
    justify-content: flex-start;
  }

  .category-button {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
  }

  .category-text {
    display: none;
  }
}

.course-card-container {
  padding: 0.8rem;
  max-width: 350px;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.card-content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.difficulty-badge {
  margin-top: auto;
  align-self: flex-start;
}
.course-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  background: var(--secondary-bg);
  color: var(--primary-text);
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: all 0.3s ease;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px var(--glass-effect);
}

.card-image-container {
  position: relative;
  height: 220px;
  overflow: hidden;
  background-color: #fff;
  flex: 0 0 auto;
  aspect-ratio: 16/9;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.course-card:hover .card-image {
  transform: scale(1.05);
}

.card-hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 48, 44, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.course-card:hover .card-hover-overlay {
  opacity: 1;
}

.icon-button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon-button:hover {
  background: var(--hover-main-color);
  transform: scale(1.1);
}

.icon-button i {
  font-size: 1.2rem;
  color: #444;
}

.favorite-button i.filled {
  color: #ff4757;
}

.status-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 6px 15px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--primary-text);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.status-badge.coming-soon {
  background-color: #ff4757;
}

.status-badge.published {
  background-color: #2ed573;
}
.status-badge.semi-published {
  background-color: #0267ff;
}
.status-badge.pending {
  background-color: #ffa502;
}
.course-image {
  position: relative;
  overflow: hidden;
}

.card-content {
  padding: 1.5rem;
  flex: 1;
  margin-bottom: 1rem;
}

.card-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--main-color3);
  margin-bottom: 0.8rem;
  line-height: 1.3;
  text-transform: capitalize;
  /* min-height: 3.2em;  */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-description {
  color: var(--secondary-text);
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 0;
  /* min-height: 4.5em;  */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Pagination */
.pagination-container {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.pagination-item {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 8px;
  background: #f8f9fa;
  color: #666;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination-item.active {
  background: var(--main-color);
  color: white;
}

.pagination-item:hover {
  background: #e9ecef;
}
