/****** Header Base Styles ******/

.mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: var(--secondary-bg);
    backdrop-filter: blur(10px);
    z-index: 1100;
    border-bottom: 1px solid var(--gray-border);
}

/* body {
    padding-top: 60px;
} */

.card {
    background: var(--secondary-bg);
    color: var(--primary-text);
    border: 1px solid var(--gray-border);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.form-control,
.form-select {
    color: var(--primary-text);
    background-color: var(--secondary-bg);
}

.form-control::placeholder {
    color: var(--gray-text);
}

.table-custom {
    --bs-table-bg: var(--secondary-bg);
    /* الخلفية */
    --bs-table-color: #var(--primary-text);
    /* النص */
    --bs-table-border-color: #ddd;
    /* البوردر */
    padding: 5px;
}

.table-header-custom {
    color: var(--main-color);
}




/****** Sidebar Base Styles ******/
.app-sidebar {
    width: 260px;
    min-width: 260px;
    height: 100vh;
    background: var(--secondary-bg);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: var(--primary-text);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1050;
    transform: translateX(0);
}

/* Collapsed State */
.app-sidebar.sidebar-collapsed {
    width: 94px !important;
    min-width: 78px !important;
}

.app-sidebar.sidebar-collapsed .nav-text {
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: opacity 0.2s ease, width 0s 0.2s;
}

.main-with-sidebar {
    margin-left: 260px;
    transition: margin-left 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.main-with-sidebar.collapsed {
    margin-left: 78px;
}

/* Mobile States */
.app-sidebar.mobile-open {
    transform: translateX(0) !important;
}

.app-sidebar.mobile-closed {
    transform: translateX(-100%);
}

@media (max-width: 992px) {
    .app-sidebar.mobile-closed {
        transform: translateX(-100%) !important;
    }

    .app-sidebar.mobile-open {
        transform: translateX(0) !important;
    }
}