.firstlab-primary {
  background-color: var(--primary-bg);
  min-height: 100vh;
}
.search-result {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 18px;
  color: var(--primary-text);
}

.container-First_lab {
  margin-left: auto;
  margin-right: auto;
}

/* Extra small */
@media (min-width: 0px) {
  .container-First_lab {
    max-width: 100%;
  }
}

/* small */
@media (min-width: 576px) {
  .container-First_lab {
    max-width: 540px;
  }
}

/*  Medium */
@media (min-width: 768px) {
  .container-First_lab {
    max-width: 750px;
  }
}

/* Large */
@media (min-width: 991px) {
  .container-First_lab {
    max-width: 970px;
  }
}

/* X-Large */
@media (min-width: 1200px) {
  .container-First_lab {
    max-width: 1170px;
  }
}

/* Start Course  */
.course-First_lab {
  background-color: var(--primary-bg);
  min-height: 100vh;
}
.course-First_lab .container-First_lab {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.course-First_lab .container-First_lab .search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.course-First_lab .container-First_lab .search input {
  padding: 29px 10px;
  border: 3px solid var(--main-color);
  height: 50px;
  width: 450px;
  outline: none;
}

.course-First_lab .container-First_lab .search button {
  border: none;
  height: 50px;
  padding: 0;
  margin-bottom: 13px;
}

.course-First_lab .container-First_lab .search i {
  font-size: 20px;
  background-color: var(--main-color);
  color: var(--primary-text);
  padding: 32px 29px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-First_lab .row-practice .html-output {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin-bottom: 0;
  color: var(--primary-text);
}
.course-First_lab .row-practice .html-output span {
  font-weight: 300;
}

.course-First_lab .row-practice {
  display: grid;
  grid-template-columns: 0.7fr;
  grid-template-rows: auto auto auto;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
  gap: 20px;
}
.course-First_lab .row-practice h1 {
  color: var(--primary-text);
}

.course-First_lab .row-practice .card-First_lab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: var(--main-transition);
}

.course-First_lab .row-practice .card-First_lab img {
  width: 100%;
  border-radius: 10px;
}

.course-First_lab .row-practice .card-First_lab:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}

.course-First_lab .row-practice .card-First_lab .card-text-First_lab {
  padding: 20px 10px;
}
.course-First_lab .row-practice .card-First_lab .card-text-First_lab h2 {
  color: var(--main-color);
}

.course-First_lab .row-practice .card-First_lab .card-text-First_lab p {
  font-size: 16px;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--primary-text);
}

/* End Course  */
