.page-header {
  position: relative;
  background-image: url("../assets/img/contact-img/page-header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 145px 0;
}

.page-header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(270deg,
      rgba(1, 5, 53, 0.28) 43.57%,
      rgba(1, 5, 53, 0.8) 100%);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.page-header-box {
  position: relative;
  z-index: 1;
}

.page-header-box h1 {
  display: inline-block;
  color: var(--white);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2em;
  margin-bottom: 10px;
  cursor: none;
  padding-left: 18px;
}

.page-header-box ol {
  margin: 0;
  padding: 0;
}

.page-header-box ol li.breadcrumb-item {
  font-weight: 500;
  text-transform: capitalize;
  line-height: normal;
  color: var(--white);
}

.page-header-box ol li.breadcrumb-item a {
  color: inherit;
}

.page-header-box ol li.breadcrumb-item.active {
  color: var(--white);
}

.page-header-box ol .breadcrumb-item+.breadcrumb-item::before {
  color: var(--white);
}

/************************************/
/*** 	32. Contact Us Page css   ***/
/************************************/

.page-contact-us {
  padding: 100px 0;
  background: var(--primary-bg);
}

.section-title-contant h1 span,
.section-title-contant h2 span {
  background: linear-gradient(90.15deg,
      var(--main-color) 0%,
      var(--main-color2) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-title-contant {
  text-align: center;
}

.section-title-contant h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  /* color: var(--white) !important; */
}

.section-title-contant h2 {
  font-size: 2rem;
  color: var(--primary-text);
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.page-contact-box {
  position: relative;
  padding: 0 120px 120px 120px;
  background: url("../assets/img/contact-img/contact-box-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1px solid var(--divider-color);
  box-shadow: 0px 0px 100px 2px var(--shadow-color);
  border-radius: 30px;
  margin-top: 150px;
}

.page-contact-box:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--secondary-bg);
  opacity: 80%;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.contact-info-list {
  position: relative;
  background: linear-gradient(90.15deg,
      var(--primary-bg) 1.15%,
      var(--secondary-bg) 98.84%);
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 100px;
  padding: 60px;
  margin: -150px 0 80px 0;
  z-index: 1;
}

.contact-info-item {
  position: relative;
  width: calc(33.33% - 66.66px);
}

.contact-info-item:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -50px;
  bottom: 0;
  left: auto;
  transform: translateY(-50%);
  background: var(--dark-divider-color);
  width: 1px;
  height: 85%;
}

.contact-info-item:last-child::before,
.contact-info-item:nth-child(3n + 3)::before {
  display: none;
}

.contact-info-item .icon-box {
  position: relative;
  height: 60px;
  width: 60px;
  background: var(--main-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.contact-info-item .icon-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--secondary-bg);
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}

.contact-info-item:hover .icon-box::before {
  transform: scale(1);
}

.contact-info-item .icon-box img {
  position: relative;
  width: 100%;
  max-width: 30px;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.contact-info-item:hover .icon-box img {
  /* filter: brightness(0) invert(1); */
  color: var(--white);
}

.contact-info-content h3 {
  color: var(--primary-text);
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.contact-info-content p {
  color: var(--primary-text);
  opacity: 80%;
  margin: 0;
}

.contact-info-content p a {
  color: inherit;
  transition: all 0.4s ease-in-out;
}

.contact-info-content p a:hover {
  color: var(--secondary-text);
}

/* The Form */

.contact-us-form {
  position: relative;
  text-align: center;
  z-index: 1;
}

.member-contact-form.contact-form .form-control {
  background: var(--primary-bg);
  color: var(--primary-text);
}

.member-contact-form.contact-form .form-control::placeholder {
  color: var(--primary-text);
  opacity: 0.7;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--primary-bg) inset;
  -webkit-text-fill-color: var(--primary-text);
  transition: background-color 5000s ease-in-out 0s;
}

.google-map .container-fluid {
  padding: 0;
}

.google-map-iframe,
.google-map-iframe iframe {
  height: 650px;
  width: 100%;
}

.google-map-iframe iframe {
  filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
}

.google-map-iframe iframe:hover {
  filter: grayscale(0%);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-header {
    padding: 100px 0;
  }

  .page-header-box h1 {
    font-size: 32px;
    padding-left: 10px;
  }

  .page-contact-us {
    padding: 80px 0;
  }

  .page-contact-us .section-title-contant h3 {
    font-size: 2rem;
    /* color: var(--primary-text); */
  }

  .page-contact-us .section-title-contant h2 {
    font-size: 1.5rem;
    max-width: 500px;
    /* color: var(--primary-text); */
  }

  .page-contact-box {
    padding: 0 60px 60px 60px;
    margin-top: 100px;
  }

  .contact-info-list {
    gap: 30px 50px;
    padding: 40px;
    margin: -100px 0 60px 0;
  }

  .contact-info-item {
    width: calc(50% - 25px);
  }

  .contact-info-item:before {
    right: -25px;
  }

  .contact-info-item:nth-child(2n + 2)::before {
    display: none;
  }

  .contact-info-item .icon-box {
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
  }

  .contact-info-item .icon-box img {
    max-width: 25px;
  }

  .contact-info-content h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .google-map-iframe,
  .google-map-iframe iframe {
    height: 500px;
  }
}

@media only screen and (max-width: 767px) {
  .page-header {
    padding: 80px 0;
  }

  .page-header-box h1 {
    font-size: 28px;
    padding-left: 10px;
  }

  .page-contact-us {
    padding: 60px 0;
  }

  .page-contact-us .section-row .section-title-contant h3 {
    color: var(--primary-text);
    font-size: 1.75rem;
  }

  .page-contact-us .section-row .section-title-contant h2 {
    font-size: 1.25rem;
    max-width: 100%;
    color: var(--primary-text);
    /* color: var(--white) !important; */
  }

  .page-contact-box {
    padding: 0 20px 40px 20px;
    margin-top: 80px;
  }

  .contact-info-list {
    gap: 20px;
    padding: 30px;
    margin: -80px 0 40px 0;
  }

  .contact-info-item {
    width: 100%;
  }

  .contact-info-item:before {
    display: none;
  }

  .contact-info-item .icon-box {
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
  }

  .contact-info-item .icon-box img {
    max-width: 25px;
  }

  .contact-info-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .google-map-iframe,
  .google-map-iframe iframe {
    height: 300px;
  }
}

/* Button  */
.btn-default {
  position: relative;
  display: inline-block;
  background: linear-gradient(to right,
      var(--main-color) 0%,
      var(--main-color2) 50%,
      var(--highlight-color) 100%);
  background-size: 200% auto;
  border-radius: 100px;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  line-height: 1em;
  text-transform: capitalize;
  border: none;
  padding: 17px 60px 17px 30px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  z-index: 0;
}

.btn-default:hover {
  background-position: right center;
}

.btn-default::before {
  content: "\f0a9";
  font-family: "Font Awesome 6 Free";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-30px, -50%);
  font-size: 20px;
  color: var(--white);
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

.btn-default:hover::before {
  transform: translate(-27px, -50%);
}

.btn-default.btn-highlighted {
  background: var(--faq-body-bg);
  color: var(--main-color);
  box-shadow: inset 0 0 0 2px var(--main-color);
}

.btn-default.btn-highlighted::before {
  color: var(--main-color);
}

.btn-default.btn-highlighted::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(90.15deg,
      var(--main-color) 1.15%,
      var(--main-color2) 98.84%);
  border-radius: 100px;
  transition: 0.4s ease-in-out;
  z-index: -1;
}

.btn-default.btn-highlighted:hover {
  background-color: transparent;
  color: var(--white-color);
}

.btn-default.btn-highlighted:hover::before {
  color: var(--white-color);
}

.btn-default.btn-highlighted:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}