.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: var(--secondary-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-container,
.loading {
  height: 140px;
  width: 140px;
  border-radius: 100%;
  position: relative;
}

.loading-container {
  margin: 40px auto;
}

.loading {
  border: 2px solid transparent;
  border-color: transparent var(--main-color);
  animation: rotate-loading 1.5s linear infinite;
  transform-origin: 50% 50%;
}

.loading-container:hover .loading,
.loading-container .loading {
  transition: all 0.5s ease-in-out;
}

#loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 200px;
}

#loading-icon img {
  height: 100px;
  width: 200px;
}

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
