.theme-floating-btn {
  position: fixed;
  right: 15px;
  top: 20%;
  transform: translateY(-50%);
  z-index: 30000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--secondary-bg);
  color: var(--primary-text);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
}

.theme-floating-btn:hover {
  transform: translateY(-50%) scale(1.15);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
}

.theme-floating-btn svg {
  width: 25px;
  height: 25px;
}
