/* Updated Root */
:root {
  --primary-bg: #0f0f0f;
  --secondary-bg: #2e2e2e;
  --faq-header: #3a3c40a3;
  --faq-body-bg: #282626;
  --faq-header-hover: #3a3c40;
  --hacker-bg: #222;
  --neon-red: #ff073a;
  --crimson-red: #dc143c;
  --burnt-orange: #ff7034;
  --text-opacity: 0.85;
  --main-color: #0d6efd;
  --primary-text: #ffffff;
  --secondary-text: #c4c2c2;
  --main-color2: #0b5ed7;
  --main-color3: #0a58ca;
  --edge-icon: #0078d7;
  --main-color4: #084fb9ff;
  --OVERLAY: rgba(15, 61, 40, 0.089);
  --border-color: #1e1e1e;
  --link-color: #1db6cd;
  --highlight-color: #1db6cd66;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --glass-effect: rgba(255, 255, 255, 0.1);
  --transition-speed: 0.3s;
  --border-radius: 4px;
  --max-width: 1200px;
  --font-size-base: 16px;
  --hover-primary-bg: #1a1a1a;
  --hover-secondary-bg: #2a2a2ad0;
  --hover-main-color: #0a54c3;
  --hover-border-color: #2b2b2b;
  --hover-highlight-color: #0a54c358;
  --hover-shadow-color: rgba(0, 0, 0, 0.7);
  --primary-gradient: linear-gradient(135deg, #057bbaff 0%, #2575fc 100%);
  --glass-bg: rgba(255, 255, 255, 0.15);
  --text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  --box-shadow: 2 2px 5px rgba(242, 242, 242, 0.402);
  --whiteColor: #ffffff;
  --blackColor: hsl(201, 33%, 16%);
  --text-color: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --divider-color: #f5f5f5;
  --dark-divider-color: rgba(255, 255, 255, 0.2);
  --greyText: rgb(190, 190, 190);
  --gold-crayola: hsl(38, 61%, 73%);
  --quick-silver: hsla(0, 0%, 65%, 1);
  --davys-grey: hsla(30, 3%, 34%, 1);
  --smoky-black-1: rgb(14, 13, 11);
  --smoky-black-2: rgb(14, 13, 12);
  --smoky-black-3: hsla(0, 3%, 7%, 1);
  --eerie-black-1: hsla(210, 4%, 9%, 1);
  --eerie-black-2: hsla(210, 4%, 11%, 1);
  --eerie-black-3: hsla(180, 2%, 8%, 1);
  --eerie-black-4: hsla(0, 0%, 13%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --white-alpha-20: rgba(255, 255, 255, 0.2);
  --black-alpha-20: hsla(0, 0%, 0%, 0.2);
  --white-alpha-10: hsla(0, 0%, 100%, 0.1);
  --black: hsla(0, 0%, 0%, 1);
  --black-alpha-80: hsla(0, 0%, 0%, 0.8);
  --black-alpha-15: hsla(0, 0%, 0%, 0.15);
  /* font-weight */
  --weight-regular: 400;
  --weight-bold: 700;
  /* line-height */
  --lineHeight-1: 1em;
  --lineHeight-2: 1.2em;
  --lineHeight-3: 1.5em;
  --lineHeight-4: 1.6em;
  --lineHeight-5: 1.85em;
  --lineHeight-6: 1.4em;

  /* letter-spacing */
  --letterSpacing-1: 0.15em;
  --letterSpacing-2: 0.4em;
  --letterSpacing-3: 0.2em;
  --letterSpacing-4: 0.3em;
  --letterSpacing-5: 3px;
  /**
   * SHADOW
   */
  --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);
  /**
   * BORDER RADIUS
   */
  --radius-24: 24px;
  --radius-circle: 50%;
  /**
    * TRANSITION
    */
  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --transition-3: 1000ms ease;
  --main-transition: all 0.3s ease-in-out;
}

.banner-power-icons {
  color: var(--crimson-red);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
  color: inherit;
}

ul li {
  list-style: none;
}

body {
  overflow-x: hidden;
}

html,
body {
  font-family: var(--font-sans);
  color: var(--primary-text);
  background-color: var(--primary-bg);
  line-height: var(--leading-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background var(--transition-base), color var(--transition-base);
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn-page {
  padding: 0.6rem 1.5rem;
  background: var(--gradient-color);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3rem;
  margin-right: 12px;
}

.btn-page a {
  color: var(--whiteColor);
  font-weight: 500;
}

.btn-page:hover {
  background: var(--SecondaryColor);
}

.hh-100 {
  height: 100vh;
}

.rows {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__page--bg {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 900px;
  overflow: clip;
}

@media (max-width: 1199px) {
  section,
  .section {
    scroll-margin-top: 66px;
  }
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 20px rgba(13, 110, 253, 0.3);
  }

  50% {
    box-shadow: 0 0 40px rgba(13, 110, 253, 0.6);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* Section Header */
.courses__header {
  padding-bottom: 60px;
  position: relative;
}

.courses__title {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--primary-text), transparent 50%);
  position: relative;
}

.courses__title::after {
  content: '';
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--main-color);
  margin: 4px 10px;
}

.courses__subtitle {
  color: var(--heading-color);
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.primary-bg {
  background-color: var(--primary-bg) !important;
}

.secondary-bg {
  background-color: var(--secondary-bg) !important;
}

.primary-text {
  color: var(--primary-text) !important;
}

.secondary-text {
  color: var(--secondary-text) !important;
}

.main-color {
  color: var(--main-color) !important;
}

.italic {
  font-style: italic;
}

.bg-main-color {
  background: var(--main-color) !important;
}

.Custom__body--bg {
  background: var(--primary-bg) !important;
  color: var(--primary-text) !important;
  min-height: 100vh !important;
}

.focus-bg-transparent {
  background-color: transparent !important;
  border: 0.2px solid var(--main-color) !important;
  outline: none !important;
}

select.focus-bg-transparent option {
  background-color: var(--primary-bg) !important;
  color: var(--primary-text) !important;
}

select.focus-bg-transparent option:hover {
  background-color: var(--main-color) !important;
  color: var(--primary-text) !important;
}

.focus-bg-transparent:disabled,
.focus-bg-transparent:focus {
  background-color: transparent !important;
  color: var(--primary-text) !important;
}

.focus-bg-transparent::placeholder {
  color: var(--secondary-text) !important;
}

::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
  background-color: var(--primary-bg) !important;
}

::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--main-color) !important;
  border-radius: 0.25rem;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover,
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color2) !important;
}

.btn-main-color2,
.btn-main-color {
  padding: 0.5rem 1.2rem;
  border: 1px solid var(--main-color);
  outline: none;
  cursor: pointer;
  border-radius: 0.3rem;
  margin-right: 12px;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  margin-block: 1rem;
  width: fit-content;
}

.btn-main-color {
  background: transparent;
  color: var(--main-color);
}

.btn-main-color2 {
  background: var(--main-color);
  color: var(--primary-text);
}

.btn-main-color:hover {
  background: var(--main-color);
  color: var(--primary-text);
}

.btn-main-color2:hover {
  background: transparent;
  color: var(--main-color);
}

.btn-main-color-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border: 1px solid var(--main-color);
  outline: none;
  margin-block: 0;
}

.toast-notification {
  animation: slideIn 0.6s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Input */

.custom-placeholder::placeholder {
  color: var(--secondary-text);
  opacity: 1;
  /* مهم للفايرفوكس */
}

/* Add to index.css or global.css */
iframe#webpack-dev-server-client-overlay,
div#webpack-dev-server-client-overlay,
div#react-error-overlay {
  display: none !important;
}

.custom--faq__header {
  color: var(--white) !important;
  background-color: var(--faq-header) !important;
  transition: background-color 0.3s ease;
}

.custom--faq__header:hover,
.custom--faq__header.active {
  background-color: var(--faq-header-hover) !important;
}

.border-main-color {
  border: 1px solid var(--main-color) !important;
}

/*  Course Preview Overlay */
.preview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 20px;
}

.preview-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 95%;
  max-width: 1200px;
  position: relative;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}

.preview-content .btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.2rem;
}

.preview-content .row {
  margin-top: 40px;
}

/* .preview-content .course-card .card-hover-overlay {
  opacity: 1;
  transition: opacity 0.3s;
} */

.preview-content > button {
  margin-right: 10px;
}

.preview-content > button {
  margin-right: 10px;
}

/* Coming Soon Page */
.notify-btn {
  background-color: var(--main-color);
  border: none;
  padding: 0.6rem 0.9rem;
  color: var(--primary-text);
  font-size: 16px;
  border-radius: 1.9rem;
  box-shadow: 0 2px 8px rgba(10, 84, 195, 0.4);
  transition: background-color var(--transition-speed);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  min-width: 160px;
}

.notify-input {
  min-width: 300px;
  transition: all 0.3s ease-in-out;
}

.notify-input:focus {
  outline: none;
  border: 2px solid var(--main-color);
  background: transparent;
  transition: border-color 0.3s ease;
}

.notify-input::placeholder {
  color: var(--secondary-text) !important;
  font-style: italic;
}

.notify-btn:hover {
  background-color: var(--hover-main-color);
}

.in-progress-hero-image {
  max-height: 500px;
  filter: drop-shadow(0 5px 50px var(--main-color));
}

@media (max-width: 768px) {
  .in-progress-hero-image {
    max-height: 250px;
  }
}
